*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
}
header{
  background-image: url(../image/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
img{
  width: 100%;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.6) 52.08%, rgba(18, 18, 18, 0) 100%);
}
nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.logo img{
  width: 150px;
}

.link{
  display: flex;
  align-items: center;
  gap: 30px;
}
.link a{
  color: #FFFFFF;
  font-family: sans-serif;
}
.link .home, a:hover{
  color: #F39C11;
}
.nav-icons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-icons img{
  width: 45px;
  height: 45px;
  background-color: #FFFFFF4D;
  padding: 12px;
  border-radius: 50%;
}
.hero h1{
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 200px;
}
.hero span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  padding-bottom: 40px;
  margin-top: 450px;
}
.hero span img{
  width: 70px;
  height: 70px;
}

/* Main */
.about{
  background-color: #FFF4D8;
}

.about .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0px;
  /* width: 1200px; */
}
.about-info{
  width: 400px;
}
.about-info p{
  padding: 30px 0px;
  line-height: 25px;
}
.about-info button{
  background-color: #F39C11;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 13px 22px;
}
.about-img img{
  width: 550px;
}

/* Fearutes section */

.features-section{
  background-color: #3D210C;  
  width: 100%;
  /* height: 100%;   */
}
.feature-title{
  text-align: center;
  padding: 40px 0px;
  font-size: 30px;
  color: white;
}
.features{
  height: 400px;
}
.feature-cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.feature-card{
  width: 200px;
  text-align: center;
  color: #FFF4D8;
}
.feature-card h2{
  padding: 20px 0px;
}
.feature-card img{
  width: 100px;
}

/* Menu Section */

.menu-section{
  background-color: #FFF4D8;
}
.menu-title{
  text-align: center;
  font-size: 30px;
  padding: 40px 0px;
}
.all-product{
  text-align: end;
  border: none;
}
.all-product button{
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 14px 30px;
  background-color: #F39C11;
  margin: 30px 0px;
  color: white;
  font-weight: 500;
}

.menu-cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.menu-card{
  width: 340px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}
.card-info h2{
  padding: 10px 0px;
}
.stars{
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.stars img{
  width: 20px;
}
.menu-card p{
  font-family: sans-serif;
  font-size: 15px;
  color: #555555;
  padding-bottom: 20px;
}
.card-info .price{
  font-weight: 800;
  font-family: sans-serif;
  font-size: 26px;
}

.buy{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy button{
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 7px;
  background-color: transparent;
  border: 2px solid #F39C11;
  padding: 4px 15px;
  color: #F39C11;
}
.buy button img{
  width: 30px;
}

/* Footer */

footer{
  background-color: #3D210C;
  padding-top: 50px;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.footer-logo{
  width: 350px;
  color: #FFF4D8;
}
.footer-logo p{
  padding: 20px 0px;
}
.footer-logo a img{
  width: 155px;
}
.socials{
  display: flex;
  align-items: center;
  gap: 10px;
}
.socials img{
  width: 30px;
}
.contact div{
  display: flex;
  align-items: center;
  padding-bottom: 14px;
  gap: 10px;
  color: #FFF4D8;
}
.contact h2{
  padding-bottom: 20px;
  color: white;
}
.contact div img{
  width: 25px;
}
.subscribe{
  color: #FFF4D8;
  width: 330px;
}
.subscribe input{
  padding: 13px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin: 20px 0px;
}
.subscribe button{
  padding: 13px 25px;
  background-color: #F39C11;
  border: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}
.copyright{
  color: #FFF4D8;
  text-align: center;
  border-top: 1px solid #FFF4D8;
  padding: 20px 0px;
  margin-top: 70px;
}
.phone-menu{
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 470px) {
  .container{
    width: 90%;
  }
  header{
    background-image: url(../image/cofe1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .link{
    display: none;
  }
  .logo img{
    width: 130px;
  }
  .hero h1{
    font-size: 40px;
  }
  .about .container{
    flex-direction: column;
    text-align: center;
    
  }
  .about-info{
    width: 90%;
  }
  .about-img img{
    width: 90%;
    margin-top: 40px;
  }
  .features-section{
    background-color: #3D210C;
    width: 100%;
    height: 100% !important;
    
   
  }
  .feature-cards{
    flex-direction: column;
   
  }
  .features{
    margin-bottom: 30px;
  }
  .menu-cards{
    flex-direction: column;
    gap: 40px;
  }
  .feature-card{
    border-bottom: 2px solid #FFF4D8;
    padding-bottom: 50px;
    margin-bottom: 20px;
    
    width: 300px;
  }
  .feature-card:nth-child(4){
    border: none;
  }
  .menu-card{
    width: 98%;
  }

  .footer{
    flex-direction: column;
  }
  .footer-logo{
    width: 90%;
    margin-bottom: 30px;
  }
  .contact{
    width: 95%;
    margin-bottom: 30px;
  }
  .subscribe{
    width: 95%;
  }
}